header {
  background-color: #db4c3f;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
body {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0px;
}
.Menu-bar {
  display: flex;

  height: 500px;
}
#clicked {
  width: 300px;
  background-color: #fafafa;
}
.menu_icon:hover {
  background-color: #fcfcfc60;
  border-radius: 4px;
}
#clicked ul li {
  display: flex;
  flex-direction: column;
}

a#clickInbox,
#clickUpcoming,
#clicktoday {
  padding-bottom: 5px;
}

#clicked ul li a:hover {
  background-color: #ececec;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;

  padding-right: 10px;
}
#clicked ul li a {
  text-decoration: none;
  color: black;
  /* margin-bottom: 2px; */
}
#InboxLogo {
  color: #246fe0;
}
#TodayLogo {
  color: #058527;
}
#calenderLogo {
  color: #692fc2;
}
#show-clicked-item {
  width: 994px;
  /* background-color: saddlebrown; */
}
#quick-find {
  display: flex;
}
#view-Today-content {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
}

#view-upcoming-calender {
  display: flex;
  /* background-color: blanchedalmond; */
  width: 500px;
  height: 100px;
}
#view-upcoming-calender h1 small {
  margin-left: 10px;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.904);
}
.menu_icon {
  margin: 10px;
  color: white;
}
.toggle_home {
  margin-top: 10px;
  color: beige;
}
.toggle_home:hover {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 4px;
}
#left-control {
  display: flex;
}
#toggle_search {
  border-radius: 5px;
  background-color: #ffffff33;
  margin: 10px;
  border-color: #db4c3f;
}
::placeholder {
  color: white;
}
#toggle_search:hover {
  background-color: white;
}
#toggle_search:hover::placeholder {
  color: black;
}
#toggle_task {
  margin-top: 10px;
  margin-left: 800px;
}
#right-top {
  display: flex;
  width: 200px;
}
#right-top a {
  margin: 10px;
  color: white;
}
#right-top a:hover {
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 4px;
}
#task {
  height: 50px;
  width: 400px;
  /* background-color: aqua; */
}
#task-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#task-button svg {
  margin-right: 9px;
  margin-top: 3px;
  color: red;
}
#task-button svg:hover {
  cursor: pointer;
  border-radius: 50%;
  color: white;
  background-color: red;
}
#task-button:hover {
  cursor: pointer;
  color: red;
}
#task-button {
  background-color: white;
  border-color: white;
}
#Add-Task {
  /* background-color: yellowgreen; */
  width: 100px;
  height: 100px;
}
#view_task {
  /* background-color: blue; */
  width: 400px;
  height: 250px;
}
#input_modal {
  display: flex;
  height: 200px;
  width: 600px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#inputtask {
  border: #ececec;
  /* color: black; */
  height: 30px;
}
#inputtask::placeholder {
  color: rgba(128, 128, 128, 0.541);
}
#inputdescription {
  margin-top: 10px;
  border: #ececec;
  height: 30px;
}
#inputdescription::placeholder {
  color: rgba(128, 128, 128, 0.541);
}
#addtask {
  margin-top: 10px;
  background-color: red;
  color: white;
  border-radius: 6px;
  border: white;
  cursor: pointer;
  height: 23px;
}
#cancel {
  height: 25px;
  width: 60px;
  margin-top: 10px;
  border-radius: 6px;
  border: white;
  cursor: pointer;
}
#cancel:hover {
  background-color: #ececec0e;
}
#setdate {
  margin-left: 10px;
  border-radius: 7px;
}
#inputcomment {
  height: 80px;
  border: #ececec;
}
#inputcomment::placeholder {
  color: rgba(0, 0, 0, 0.295);
}
#start {
  margin-top: 10px;
}
